.idea
logs
.idea/**
api-gateway-server/target/
api-gateway-server/target/**
api-gateway-server/api-gateway-server.iml

oauth-server/target/
oauth-server/target/**
oauth-server/oauth-server.iml
oauth-server/src/main/resources/bootstrap.yml


file-server/target/
file-server/target/**
file-server/file-server.iml

api-server/target/
api-server/target/**
api-server/api-server.iml

ydh.iml
